!!! 5
%html
  %head
    /
    %title= "blackwell / #{@page_title || 'Home'}"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

  %body.Blackwell{ :id => params[:controller].parameterize}
    = render 'layouts/header'
    .Blackwell-body
      - flash.each do |name, msg|
        = msg
      %main.Blackwell-content
        = yield
      - if signed_in?
        %nav.Blackwell-nav
          =render "search"
    = render 'layouts/footer'
